body{   
    background-color: lightgray;
    text-align: justify;
}

main{   
    background: lightgrey;


}

h1{ 
text-align: center;
}

a:link{
    color: black; 
}

a:visited{
    color: black;

}

a:hover{
    color: blue; font: xx-large;
}

#felsolinkescucc{ text-decoration: underline;}

button{
    font-weight: bold;
}

.card{
    width: 420px;
    height: 145px;
}

.adat{
    width: 175px;
    
}

.card-title{
    text-align: center;
}

.gomb{
    width: 175px;
    margin-top: 10px;
}

#eredmeny{
    margin-left: 31px;
}
