body{   
    background-color: lightgray;
    text-align: justify;
}

main{   
    background: lightgrey;


}

h1{ 
text-align: center;
}

a:link{
    color: black; 
}

a:visited{
    color: black;

}

a:hover{
    color: blue; font: xx-large;
}

#felsolinkescucc{ text-decoration: underline;}

button{
    font-weight: bold;
}

.card{
    width: 500px;
    height: 135px;
}