body{   
    background-color: lightgray;
    text-align: justify;
}

main{   
    background: lightgrey;


}

h1{ 
text-align: center;
}

#eredmeny{
    border: 2px outset black;
  background-color: rgb(236, 238, 238);
  position: absolute;
  right: 3.5%;
  bottom: 12%;
  height: 30px;
  width: 175px;
  text-align: center;
  font-weight: bold;
}

a:link{
    color: black; 
}

a:visited{
    color: black;

}

a:hover{
    color: blue; font: xx-large;
}

#felsolinkescucc{ text-decoration: underline;}

button{
    font-weight: bold;
}

.card{
    width: 410px;
    height: 145px;
}

.adat{
    width: 175px;
    text-align: center;
    
}

.card-title{
    text-align: center;
}

.gomb{
    width: 175px;
    margin-top: 10px;
}

#eredmeny{
    margin-left: 21px;
}
